
* {
    margin:  0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.page {
    height: 100%;
    display: flex;
}

.right {
    flex: 2;
    background-color: red;
}

.left {
    flex: 1;
    background-color: forestgreen;
}
