
@font-face {
    font-family: noric-style;
    src: url(/fonts/Mjolnir/Mjolnir.woff);
}

* {
    margin:  0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

a, a:hover, a:focus, a:active { color: inherit; } 

body {
    height: 100vh;
}

.page {
    height: 100%;
    display: flex;
}

.right {
    flex: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.left {
    flex: 1;
    background-size: cover;
    background-image: url("images/shifaaz-shamoon-9K9ipjhDdks-unsplash.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-background {
    height: 100px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    gap: 5px;
}

img {
    padding: 10px 0px;
    height: 100%;
    padding-left: auto;
}

.logo-text {
    color: whitesmoke;
    font-family: noric-style, sans-serif;
    font-size: 70px;
    padding-top: 5px;
}

.artist-credits {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    text-align: center;
}

.artist-credits a {
    text-decoration: underline;
}

.forms {
    flex: 3;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
}

.buttons {
    flex: 2;
    background-color: blue;
}

.details {
    background-color: gold;
    flex: 1;
}

.sign-up-form {
    background-color: aquamarine;
    flex: 1;
}
