
@font-face {
    font-family: nordic-style;
    src: url(/fonts/Mjolnir/Mjolnir.woff);
}

:root {
    --general-vertical-padding: 20px;
    --general-horizontal-padding: 30px;
    --dominant-color: green;
}

* {
    margin:  0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

a, a:hover, a:focus, a:active { color: inherit; } 

body {
    height: 100vh;
}

.page {
    height: 100%;
    display: flex;
}

.right {
    font-family: 'Times New Roman', Times, serif;
    flex: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.left {
    flex: 1;
    background-size: cover;
    background-image: url("images/shifaaz-shamoon-9K9ipjhDdks-unsplash.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-background {
    height: 100px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    gap: 5px;
}

img {
    padding: 10px 0px;
    height: 100%;
    padding-left: auto;
}

.logo-text {
    color: whitesmoke;
    font-family: nordic-style, sans-serif;
    font-size: 70px;
    padding-top: 5px;
}

.artist-credits {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    text-align: center;
}

.artist-credits a {
    text-decoration: underline;
}

.forms {
    flex: 2;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
}

.buttons {
    padding: var(--general-vertical-padding) var(--general-horizontal-padding);
    background-color: tan;
    flex: 1;
}

.details {
    padding: var(--general-vertical-padding) var(--general-horizontal-padding);
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: gold;
    flex: 1;
    font-weight: bolder;
    font-size: large;
}

.sign-up-form {
    padding: var(--general-vertical-padding) var(--general-horizontal-padding);
    background-color: aquamarine;
    flex: 1;
}

.login-button {
    margin-bottom: var(--general-vertical-padding);
}

.login-option {
    font-size: medium;
}

.login-link {
    color: var(--dominant-color);
}
